.thAvatar {
    overflow: hidden;
  
    .upload_btn_wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
  
      input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
      }
    }
  }
  